<%- include("./fragments/header"); %>
  <div clas="bulma-card">
    <div class="bulma-card-content">
      <div class="bulma-content bulma-has-text-centered">
        <div class="bulma-block">
          <button class="bulma-button" onclick="document.getElementById('modal-points-delete').classList.toggle('bulma-is-active');">
            Bulk Remove Points
          </button>
          <button class="bulma-button" onclick="document.getElementById('modal-points-add').classList.toggle('bulma-is-active');">
            Bulk Add Points
          </button>
        </div>
        <div class="bulma-block">
          <div class="bulma-field">
            <label class="bulma-label">Search</label>
            <div class="bulma-control">
              <input class="bulma-input" type="text" placeholder="Student ID">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# Modals %>
  <%- include("./fragments/points-modal", { kind: "add", isBulk: true }); %>
  <%- include("./fragments/points-modal", { kind: "delete", isBulk: true }); %>

<%- include("./fragments/footer"); %>
