<%- include("./fragments/header"); %>
  <div class="bulma-content bulma-has-text-centered">
    <a href="/login" class="bulma-button bulma-is-primary bulma-is-medium">
      Login
    </a>
  </div>
<%- include("./fragments/footer"); %>
