<%- include("./fragments/header"); %>
<div class="bulma-hero">
  <div class="bulma-hero-body">
    <div class="bulma-container">
      <div class="bulma-card">
        <div class="bulma-card-header">
          <p class="bulma-card-header-title bulma-is-centered">
            Please Login before continuing
          </p>
        </div>
        <div class="bulma-card-content">
          <div class="bulma-content bulma-has-text-centered">
            <a href="/login" class="bulma-button bulma-is-primary bulma-is-medium">
              Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("./fragments/footer"); %>
