<%- include("./fragments/header") %>
  <form method="post" name="settings" action="/settings">
    <% for (const key in content.schema) { %>
      <%- include("./fragments/settings-item", { configGet: key, key: key, size: 1, content: { schema: content.schema[key] }}); %>
    <% } %>

    <div class="bulma-field">
      <div class="bulma-control">
        <button class="bulma-button bulma-is-link" type="submit">Submit</button>
      </div>
    </div>
  </form>
<%- include("./fragments/footer"); %>
