<%- include("./fragments/header"); %>
  <div class="bulma-content bulma-has-text-centered">
    <p class="bulma-is-medium">
      You do not have permission to view this resource.
    </p>

    <a href="/" class="bulma-button bulma-is-primary bulma-is-medium">
      Return Home
    </a>
  </div>
<%- include("./fragments/footer"); %>
