<%- incldue("./fragments/header"); %>
  <div class="bulma-content bulma-has-text-centered">
    <p class="bulma-is-medium">
      This resource could not be found.
    </p>

    <a href="/" class="bulma-button bulma-is-primary bulma-is-medium">
      Return Home
    </a>
  </div>
<%- include("./fragments/footer"); %>
