<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/versions/bulma-prefixed.min.css">
  </head>
  <body class="bulma-has-navbar-fixed-top">
    <nav class="bulma-navbar bulma-is-fixed-top bulma-is-active" role="navigation" aria-label="main navigation">
      <div class="bulma-navbar-menu">
        <div class="bulma-navbar-start">
          <a class="bulma-navbar-item">
            Home
          </a>

          <a class="bulma-navbar-item">
            Students
          </a>

          <a class="bulma-navbar-item">
            Points
          </a>

        </div>
        <div class="bulma-navbar-end">

          <a class="bulma-navbar-item">
            Settings
          </a>

        </div>
      </div>
    </nav>
