<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/versions/bulma-prefixed.min.css">
  </head>
  <body class="bulma-has-navbar-fixed-top">
    <nav class="bulma-navbar bulma-is-fixed-top bulma-is-active" role="navigation" aria-label="main navigation">
      <div class="bulma-navbar-menu">
        <div class="bulma-navbar-start">
          <a class="bulma-navbar-item" href="/">
            Home
          </a>

          <a class="bulma-navbar-item" href="/students">
            Students
          </a>

          <a class="bulma-navbar-item" href="/points">
            Points
          </a>

        </div>
        <div class="bulma-navbar-end">

          <div class="bulma-navbar-item bulma-has-dropdown bulma-is-hoverable">
            <a class="bulma-navbar-link">
              Manage
            </a>

            <div class="bulma-navbar-dropdown">

              <a class="bulma-navbar-item" href="/settings">
                Settings
              </a>

              <a class="bulma-navbar-item" href="/sessions">
                Sessions
              </a>

              <a class="bulma-navbar-item" href="/logs">
                Logs
              </a>

            </div>
          </div>

        </div>
      </div>
    </nav>

    <% for (const notification of notifications) { %>
      <div
        class="
          bulma-notification
          <% if (notification.status === "success") { %> bulma-is-success <% } %>
        "
        data-id="<%= notification.id %>"
      >
        <button class="bulma-delete"></button>
        <%= notification.msg %>
      </div>
    <% } %>

    <div class="bulma-hero">
      <div class="bulma-hero-body">
        <div class="bulma-container">
          <div class="bulma-card">
            <div class="bulma-card-header">
              <p class="bulma-card-header-title bulma-is-centered bulma-is-size-1">
                <%= title %>
              </p>
            </div>
            <div class="bulma-card-content">
